#game .board-marks .p-0-0 {
    --size: calc(1 - var(--mark-0));
}

#game .board-marks .p-1-0 {
    --size: calc(1 - var(--mark-1));
}

#game .board-marks .p-2-0 {
    --size: calc(1 - var(--mark-2));
}

#game .board-marks .p-0-1 {
    --size: calc(1 - var(--mark-3));
}

#game .board-marks .p-1-1 {
    --size: calc(1 - var(--mark-4));
}

#game .board-marks .p-2-1 {
    --size: calc(1 - var(--mark-5));
}

#game .board-marks .p-0-2 {
    --size: calc(1 - var(--mark-6));
}

#game .board-marks .p-1-2 {
    --size: calc(1 - var(--mark-7));
}

#game .board-marks .p-2-2 {
    --size: calc(1 - var(--mark-8));
}